<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<hr>
<h2>Favorite Color</h2>

<div id="box"  [style.backgroundColor]="favoriteColor">{{favoriteColor}}</div>
<button type="button" (click)="setColor('blue');">Blue</button>
<button type="button" (click)="setColor('green');">Green</button>
<button type="button" (click)="setColor('red');">Red</button>
<button type="button" (click)="setColor('purple');">Purple</button>
<br>
<button type="button" (click)="updateColor();">Update</button>

<hr>
<h2>Favorite Number = {{favoriteNumber}}</h2>
<button type="button" (click)="setNumber(favoriteNumber + 1);">+</button>
<button type="button" (click)="setNumber(favoriteNumber - 1);">-</button>
<button type="button" (click)="setNumber(0);">Reset</button>

<hr>
